@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img,embed{
    pointer-events: none;
    user-select: none;
}

html::-webkit-scrollbar,body::-webkit-scrollbar{
    display: none;
}

.page::-webkit-scrollbar{
    display: none;
}

.modal_body::-webkit-scrollbar{
    width: 1vw;
    display: block;
}

.modal_body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1vw 1vw #27264B;
    border: solid .35vw transparent;
    border-radius: 5vw;

    margin-top: 1vw;
    margin-bottom: 1vw;
}

.modal_body::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 1vw 1vw #F13333;
    border: solid .35vw transparent;
    border-radius: 5vw;
}

html, body{
    overflow: hidden;
}

html{
    font-size: .8vw;
}

body{
    font-size: .8335vw;
    height: auto;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 46%, rgba(241,246,250,1) 59%, rgba(231,238,245,1) 72%, rgba(212,222,234,1) 87%);
}

.position-absolute{
    position: absolute;
}

.page{
    overflow: hidden;
    max-height: 100vh;
    min-height: 100vh;
    position: relative;
    .logo{
        position: absolute;
        top: 6vh;
        left: 4vh;
    }
    
    .logo embed{
        width: 20vh;
    }
    
    .hd-garland{
        position: absolute;
        top: 0;
        left: -5vw;
    
        .on{
            position: absolute;
            top: 0;
            opacity: 0;
            transition: opacity 3s ease;

            embed{
                width: 120vw;
            }
        }
    
        .off{
            position: absolute;
            top: 0;

            embed{
                width: 120vw;
            }
        }
    }
    
    .content{
        position: relative;
        height: 90vh;
        max-height: 90vh;
        min-height: 90vh;
        overflow: hidden;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    
        flex-wrap: wrap;
    
        .information_block{
            flex: .5;
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .percentage{
                display: flex;
                justify-content: center;
                padding-left: 5vh;
                .hundred{
                    width: 55vh;
    
                    svg{
                        width: 100%;
                        -webkit-filter: drop-shadow(0 .5vh .5vh rgba(0, 0, 0, .2));
                        filter: drop-shadow(0 .5vh .5vh rgba(0, 0, 0, .2));
                    }
                }
    
    
                .percents{
                    img{
                        width: 6vh;
                    }
                }
            }
    
            .title{
                text-align: center;
                margin-top: -2vh;
                h3{
                    font-family: 'Rubik Mono One', sans-serif;
                    font-size: 6vh;
                    color: #27264B;
    
                    word-spacing: -1vw;
                }
            }
    
            .button{
                background: url("../images/button.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 30vh;
                height: 15vh;
                position: relative;
                user-select: none;
                color: #fff;
    
                .clickable{
                    height: 72%;
                    width: 100%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
    
                    h1{
                        font-size: 1.8vh;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 900;
                        letter-spacing: .1em;
    
                        text-shadow:
                        -.1vh -.1vh 0 #AF002A,  
                        .1vh -.1vh 0 #AF002A,
                        -.1vh  .1vh 0 #AF002A,
                        .1vh  .1vh 0 #AF002A;
    
                        margin: 0;
                        padding: 0;
    
                        transition: opacity .5s ease;
                    }
                }
    
                .clickable:hover{
                    h1{
                        opacity: .8;
                    }
                }
            }
    
            #open-modal{
                margin-top: -2.5vh;
                color: #A1A1A1;
                font-size: 1.3vh;
                cursor: pointer;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                transition: opacity .5s ease;
                z-index: 100;
            }
    
            #open-modal:hover{
                opacity: .8;
            }
        }
    
        .drawings{
            flex: 0.5;
            z-index: 10;
            width: 100%;
            height: 100%;
        
            #tree{
                width: 25vw;
                bottom: -3vw;
                right: 10vw;
                z-index: 10;
            }
        
            #snowman{
                width: 25vw;
                right: 15vw;
                bottom: 0;
                z-index: 15;
            }
        
            #snow{
                bottom: 0;
                right: 0;
                width: 45vw;
                z-index: 12;
            }
        
            #lollipop1{
                width: 5vw;
                bottom: -1.3vw;
                transform-origin: left bottom;
                animation: 4s ease infinite lollipop_anim;
            }
        
            @keyframes lollipop_anim{
                0%{
                    transform: rotate(-10deg);
                }
                50%{
                    transform: rotate(-5deg);
                }
                100%{
                    transform: rotate(-10deg);
                }
            }
        
            #lollipop2{
                width: 5vw;
                right: 0;
                z-index: 15;
                bottom: 0;
                transform-origin: right bottom;
                animation: 5s ease infinite lollipop_anim;
            }
        
            #lollipop3{
                width: 5vw;
                right: 2vw;
                bottom: 13vw;
                transform-origin: left bottom;
                animation: 4.5s ease infinite lollipop_anim;
            }
        
            #seven2{
                width: 30vw;
                right: 0;
                bottom: 0;
                z-index: 10;
            }
        
            #seven3{
                right: 5vw;
                width: 12vw;
                top: 7vw;
            }
        
            #green{
                width: 12vw;
                right: -5vw;
                top: 10vw;
            }
        
            #orange{
                width: 5vw;
                right: 3vw;
                bottom: 7vw;
                z-index: 25;
            }
        
            #red{
                width: 3vw;
                top: 15vw;
                right: 35vw;
            }
        }
    }
    
    #seven1{
        width: 14vw;
        bottom: 0;
        z-index: 1100;
        right: 32vw;
    }
    
    footer{
        height: 10vh;
        background-color: #27264B;
        z-index: 100;
        position: relative;
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        .footer-row{
            width: 100%;
            padding: 0 3.5vh;
    
            display: flex;
            flex-direction: row;
            align-items: center;
    
            .footer-logo{
                width: 15vh;
                margin-right: 1vh;
                img{
                    width: 100%;
                }
            }
    
            .copyright{
                color: #43426D;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 1.5vh;
                border-left: .2vh solid #43426D;
                padding-left: 1vh;
            }
    
            .footer-menu{
                margin-left: 5vh;
    
                .footer-list{
                    display: inline-flex;
    
                    .footer-list-item{
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 1rem;
            
                        a{
                            color: #43426D;
                            font-family: 'Roboto', sans-serif;
                            font-size: 1.4vh;
                            text-decoration: none;
                            transition: opacity .5s ease;
                        }
            
                        a:hover{
                            text-decoration: none;
                            opacity: .8;
                        }
                    }
                }
            }
        }
    
        .footer-snow{
            position: absolute;
        }
    
        #footer_snow01{
            width: 9vw;
            top: -10%;
            left: -5%;
            z-index: 1000;
        }
    
        #footer_snow02{
            width: 8vw;
            top: -10%;
            left: 80%;
            z-index: 1000;
        }
    
        #footer_snow03{
            width: 6vw;
            top: -10%;
            left: 47%;
            z-index: 1000;
        }
    
        #footer_snow04{
            width: 7vw;
            top: -10%;
            left: 65%;
            z-index: 1000;
        }
    
        #footer_snow05{
            width: 7vw;
            top: -15%;
            right: -4%;
            z-index: 1000;
        }
    
        .ft-garland{
            #ft-gr-on{
                position: absolute;
                transition: opacity 3s ease;
                top: 0;
                opacity: 0;

                embed{
                    width: 120vw;
                }
            }
    
            .off{
                position: absolute;
                top: 0;

                embed{
                    width: 120vw;
                }
            }
        }
    }

    .my_modal{
        width: 50%;
        height: auto;
    
        display: none;
        opacity: 0;
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    
        background-color: #27264B;
        z-index: 10500;
        border-radius: .8vw;
        transition: all .2s ease;
    
        .modal_header{
            display: flex;
            justify-content: center;
            align-items: center;
    
            height: 6vh;

            .heading{
                flex: 0.93;
                color: #fff;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 1.7vh;
            }

            .close_button{
                right: 3.5%;
                cursor: pointer;
                transition: all .3s ease;
                width: .9vw;
        
                display: flex;
                justify-content: center;
                align-items: center;
            }
        
            .close_button:hover{
                transform: scale(1.1);
            }
        }
    
        .modal_body{
            height: 50vh;
            width: 95%;
            padding: 2rem;
            color: #6A698C;
            background-color: #1A1933;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 2vh;
            border-radius: .7vw;
            position: relative;
            overflow: hidden;
            overflow-y: scroll;
            margin: 0 auto;
    
            -moz-box-shadow:    inset 0 0 .5vw #000000;
            -webkit-box-shadow: inset 0 0 .5vw #000000;
            box-shadow:         inset 0 0 .5vw #000000;
        }
       
    
        .button_wrapper{
            width: 95%;
            height: 12vh;
            min-height: 12vh;
            max-height: 12vh;
            margin: 0 auto;

            display: flex;
            align-items: center;
            .modal_button{
                width: 100%;
                height: 70%;
                background: url("../images/modal_button.png");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: .6vw;
                box-shadow: 0px .2vw 1vw 0px rgba(0,0,0,0.3);
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                cursor: pointer;
    
                a{
                    font-size: 1.2vw;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 900;
                    color: #fff;
                    text-decoration: none;
    
                    transition: opacity .5s ease;
                }
    
                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
    
    .coverage{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: 8000;
        background-color: #fff;
        opacity: 0;
    
        display: none;
        transition: all .2s ease;
    }
}

@media only screen and (max-height: 45vw){
    html,body{
        overflow-y: scroll;
    }

    .page{
        overflow: hidden;
        height: auto;
        min-height: inherit;
        max-height: inherit;
        position: relative;
        .logo{
            position: absolute;
            top: 3vw;
            left: 2vw;
        }
        
        .logo embed{
            width: 13vw;
        }
        
        .hd-garland{
            position: absolute;
            top: 0;
            left: -5vw;
        
            .on{
                position: absolute;
                top: 0;
                opacity: 0;
                transition: opacity 3s ease;
    
                embed{
                    width: 120vw;
                }
            }
        
            .off{
                position: absolute;
                top: 0;
    
                embed{
                    width: 120vw;
                }
            }
        }
        
        .content{
            position: relative;
            height: 55vw;
            max-height: inherit;
            min-height: 55vw;
            overflow: hidden;
        
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
        
            flex-wrap: wrap;
        
            .information_block{
                flex: .5;
                display: flex;
                flex-direction: column;
                align-items: center;
        
                .percentage{
                    display: flex;
                    justify-content: center;
                    padding-left: 4vw;
                    .hundred{
                        width: 30vw;
        
                        svg{
                            width: 100%;
                            -webkit-filter: drop-shadow(0 .5vh .5vh rgba(0, 0, 0, .2));
                            filter: drop-shadow(0 .5vh .5vh rgba(0, 0, 0, .2));
                        }
                    }
        
        
                    .percents{
                        img{
                            width: 3vw;
                        }
                    }
                }
        
                .title{
                    text-align: center;
                    margin-top: -1.5vw;
                    h3{
                        font-family: 'Rubik Mono One', sans-serif;
                        font-size: 3.3vw;
                        color: #27264B;
        
                        word-spacing: -1vw;
                    }
                }
        
                .button{
                    background: url("../images/button.png");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 15vw;
                    height: 10vw;
                    position: relative;
                    user-select: none;
                    color: #fff;
        
                    .clickable{
                        height: 80%;
                        width: 100%;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
        
                        h1{
                            font-size: .8vw;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 900;
                            letter-spacing: .1em;
        
                            text-shadow:
                            -.1vh -.1vh 0 #AF002A,  
                            .1vh -.1vh 0 #AF002A,
                            -.1vh  .1vh 0 #AF002A,
                            .1vh  .1vh 0 #AF002A;
        
                            margin: 0;
                            padding: 0;
        
                            transition: opacity .5s ease;
                        }
                    }
        
                    .clickable:hover{
                        h1{
                            opacity: .8;
                        }
                    }
                }
        
                #open-modal{
                    margin-top: -1.7vw;
                    color: #A1A1A1;
                    font-size: .85vw;
                    cursor: pointer;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    transition: opacity .5s ease;
                    z-index: 100;
                }
        
                #open-modal:hover{
                    opacity: .8;
                }
            }
        
            .drawings{
                flex: 0.5;
                z-index: 10;
                width: 100%;
                height: 100%;
            
                #tree{
                    width: 25vw;
                    bottom: -3vw;
                    right: 10vw;
                    z-index: 10;
                }
            
                #snowman{
                    width: 25vw;
                    right: 15vw;
                    bottom: 0;
                    z-index: 15;
                }
            
                #snow{
                    bottom: 0;
                    right: 0;
                    width: 45vw;
                    z-index: 12;
                }
            
                #lollipop1{
                    width: 5vw;
                    bottom: -1.3vw;
                    transform-origin: left bottom;
                    animation: 4s ease infinite lollipop_anim;
                }
            
                @keyframes lollipop_anim{
                    0%{
                        transform: rotate(-10deg);
                    }
                    50%{
                        transform: rotate(-5deg);
                    }
                    100%{
                        transform: rotate(-10deg);
                    }
                }
            
                #lollipop2{
                    width: 5vw;
                    right: 0;
                    z-index: 15;
                    bottom: 0;
                    transform-origin: right bottom;
                    animation: 5s ease infinite lollipop_anim;
                }
            
                #lollipop3{
                    width: 5vw;
                    right: 2vw;
                    bottom: 13vw;
                    transform-origin: left bottom;
                    animation: 4.5s ease infinite lollipop_anim;
                }
            
                #seven2{
                    width: 30vw;
                    right: 0;
                    bottom: 0;
                    z-index: 10;
                }
            
                #seven3{
                    right: 5vw;
                    width: 12vw;
                    top: 7vw;
                }
            
                #green{
                    width: 12vw;
                    right: -5vw;
                    top: 10vw;
                }
            
                #orange{
                    width: 5vw;
                    right: 3vw;
                    bottom: 7vw;
                    z-index: 25;
                }
            
                #red{
                    width: 3vw;
                    top: 15vw;
                    right: 35vw;
                }
            }
        }
        
        #seven1{
            width: 14vw;
            bottom: 0;
            z-index: 1100;
            right: 32vw;
        }
        
        footer{
            height: 8vw;
            background-color: #27264B;
            z-index: 100;
            position: relative;
        
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        
            .footer-row{
                width: 100%;
                padding: 0 3vw;
        
                display: flex;
                flex-direction: row;
                align-items: center;
        
                .footer-logo{
                    width: 7vw;
                    margin-right: 1vw;
                    img{
                        width: 100%;
                    }
                }
        
                .copyright{
                    color: #43426D;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: .8vw;
                    border-left: .2vh solid #43426D;
                    padding-left: 1vw;
                }
        
                .footer-menu{
                    margin-left: 5vh;
        
                    .footer-list{
                        display: inline-flex;
        
                        .footer-list-item{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            margin: 0 1rem;
                
                            a{
                                color: #43426D;
                                font-family: 'Roboto', sans-serif;
                                font-size: .7vw;
                                text-decoration: none;
                                transition: opacity .5s ease;
                            }
                
                            a:hover{
                                text-decoration: none;
                                opacity: .8;
                            }
                        }
                    }
                }
            }
        
            .footer-snow{
                position: absolute;
            }
        
            #footer_snow01{
                width: 9vw;
                top: -10%;
                left: -5%;
                z-index: 1000;
            }
        
            #footer_snow02{
                width: 8vw;
                top: -10%;
                left: 80%;
                z-index: 1000;
            }
        
            #footer_snow03{
                width: 6vw;
                top: -10%;
                left: 47%;
                z-index: 1000;
            }
        
            #footer_snow04{
                width: 7vw;
                top: -10%;
                left: 65%;
                z-index: 1000;
            }
        
            #footer_snow05{
                width: 7vw;
                top: -15%;
                right: -4%;
                z-index: 1000;
            }
        
            .ft-garland{
                #ft-gr-on{
                    position: absolute;
                    transition: opacity 3s ease;
                    top: 0;
                    opacity: 0;
    
                    embed{
                        width: 120vw;
                    }
                }
        
                .off{
                    position: absolute;
                    top: 0;
    
                    embed{
                        width: 120vw;
                    }
                }
            }
        }
    
        .my_modal{
            width: 50%;
            height: auto;
        
            display: none;
            opacity: 0;
        
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-70%);
        
            background-color: #27264B;
            z-index: 10500;
            border-radius: .8vw;
            transition: all .2s ease;
        
            .modal_header{
                display: flex;
                justify-content: center;
                align-items: center;
        
                height: 3vw;
    
                .heading{
                    flex: 0.93;
                    color: #fff;
                    text-align: center;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 1.7vh;
                }
    
                .close_button{
                    right: 3.5%;
                    cursor: pointer;
                    transition: all .3s ease;
                    width: .9vw;
            
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            
                .close_button:hover{
                    transform: scale(1.1);
                }
            }
        
            .modal_body{
                height: 50vh;
                width: 95%;
                padding: 2rem;
                color: #6A698C;
                background-color: #1A1933;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 2vh;
                border-radius: .7vw;
                position: relative;
                overflow: hidden;
                overflow-y: scroll;
                margin: 0 auto;
        
                -moz-box-shadow:    inset 0 0 .5vw #000000;
                -webkit-box-shadow: inset 0 0 .5vw #000000;
                box-shadow:         inset 0 0 .5vw #000000;
            }
           
        
            .button_wrapper{
                width: 95%;
                height: 12vh;
                min-height: 12vh;
                max-height: 12vh;
                margin: 0 auto;
    
                display: flex;
                align-items: center;
                .modal_button{
                    width: 100%;
                    height: 70%;
                    background: url("../images/modal_button.png");
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: .6vw;
                    box-shadow: 0px .2vw 1vw 0px rgba(0,0,0,0.3);
        
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    cursor: pointer;
        
                    a{
                        font-size: 1.2vw;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 900;
                        color: #fff;
                        text-decoration: none;
        
                        transition: opacity .5s ease;
                    }
        
                    a:hover{
                        text-decoration: none;
                    }
                }
            }
        }
        
        .coverage{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            z-index: 8000;
            background-color: #fff;
            opacity: 0;
        
            display: none;
            transition: all .2s ease;
        }
    }
}